@model Ead_Project_version_1._1.Models.Game

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title
{
    <title>GameRim.com - Admin Page </title>
}
@section Menu
{
    <div id="mo_menu_panel">
        <ul>
            <li><a href="../Admin/Index" class="current">Add Games</a></li>
            <li><a href="../Admin/Admin_Delete">Delete Games</a></li>
            <li><a href="../Admin/Admin_Update">Update Games</a></li>
            <li><a href="../Admin/Admin_Query">Query Page</a></li>
        </ul>
    </div> <!-- end of menu -->
}
@section Login
{
    <form method="POST" action="../Admin/Logout">
        <label style="padding:20px 30px">User: Admin</label><input type="submit" value="Logout" name="submit" />
    </form>
}
@section InputFields
{
<h2>Delete Game</h2>

<h3>Are you sure you want to delete this?</h3>

  <div class="left_column">
    <div class="form_row">
        @Html.DisplayNameFor(model => model.Game_Id):
        @Html.DisplayFor(model => model.Game_Id)
    </div>

    <div class="form_row">
        @Html.DisplayNameFor(model => model.Game_Name):
        @Html.DisplayFor(model => model.Game_Name)
    </div>

    <div class="form_row">
        @Html.DisplayNameFor(model => model.Rating):
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="form_row">
        @Html.DisplayNameFor(model => model.Price):
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="form_row">
        @Html.DisplayNameFor(model => model.Release_Date):
        @Html.DisplayFor(model => model.Release_Date)
    </div>

    <div class="form_row">
        @Html.DisplayNameFor(model => model.Discription):
        @Html.DisplayFor(model => model.Discription)
    </div>
    <div class="form_row">
        @Html.DisplayNameFor(model => model.Cpu_Req):
        @Html.DisplayFor(model => model.Cpu_Req)
    </div>

    <div class="form_row">
        @Html.DisplayNameFor(model => model.Ram_Req):
        @Html.DisplayFor(model => model.Ram_Req)
    </div>
</div>
<div class="right_column">
    <div class="form_row">
        @Html.DisplayNameFor(model => model.Hard_Req):
        @Html.DisplayFor(model => model.Hard_Req)
    </div>
    <div class="form_row">
        @Html.DisplayNameFor(model => model.GraphicCard_Req):
        @Html.DisplayFor(model => model.GraphicCard_Req)
    </div>

    <div class="form_row">
        @Html.DisplayNameFor(model => model.Developer.Developer_Name):
        @Html.DisplayFor(model => model.Developer.Developer_Name)
    </div>

    <div class="form_row">
        @Html.DisplayNameFor(model => model.PlatForm):
        @Html.DisplayFor(model => model.PlatForm)
    </div>

    <div class="form_row">
        @Html.DisplayNameFor(model => model.Category):
        @Html.DisplayFor(model => model.Category)
    </div>
    <div class="form_row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Delete" /> |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
        </div>
    </div>


}
